@media (min-width: 50px) {
    body{
        margin: 0;
        font-family: "PT Sans", sans-serif;
    }
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 0.9rem;
    }
    .navigation{
        padding: 0.3rem 0.05rem;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 3.5rem;
        gap: 8%;
        align-items: center;
        justify-content: center;
        background: #a50b5e;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .logo-color{
        display: none;
        grid-column: 2/3;
    }
    .logo{
        grid-column: 1/2;
        grid-row: 1/1;
        display: flex;
        gap: 0.25rem;
        align-items: center;
    }
    .logo img{
        height: 1rem;
    }
    .lists{
        display: none;
        grid-column: 3/4;
        grid-row: 1/1;
    }
    .nav-right{
        grid-column: 4/4;
        grid-row: 1/1;
        display: flex;
        gap: 0;
        align-items: center;
        justify-items: center;
    }
    .con{
        padding: 0.2rem 0.4rem;
        border: 1px solid #fff;
    }
    .con a{
        font-size: 0.65rem;
        text-decoration: none;
        color: #fff;
    }
    .search{
        border: 1px solid #fff;
        
    }
    .search img{
        height: 1.35rem;
    }
    .top-cont{
        padding: 6rem 1rem 2rem;
    }
    .top-cont h1{
        margin-top: 0;
        width: 80%;
    }
    .top-cont p{
        width: 90%;
        margin: -1rem 0 2rem;
    }
    .search-div{
        margin-bottom: 2rem;
        display: none;
        gap: 0;
    }
    .top-cont img{
        height: 6.4rem;
    }
    .Home-assets{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .img-3{
        grid-column: 1/2;
        grid-row: 1/1;
    }
    .img-5{
        grid-column: 2/2;
        grid-row: 1/1;
    }
    .img-4{
        grid-column: 1/2;
        grid-row: 2/2;
    }
    .img-6{
        grid-column: 2/2;
        grid-row: 2/2;
    }
    .int{
        color: #a50b5e;
    }
    .second-cont{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0.4rem 0;
        background: #a50b5e;
    }
    .long{
        display: none;
    }
    .short{
        height: 2.5rem;
    }
    .third-cont{
        padding: 1rem 1rem 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .third-cont>div{
        margin: auto;
        width: 75%;
        padding: 0.7rem;
        border: 1px solid #777070;
        border-radius: 10px;
    }
    .third-cont img{
        width: 100%;
    }
    .frame-101{
        font-size: 1.4rem;
        text-align: center;
        margin: auto;
    }
    .double>*{
        margin-bottom: 0;
    }
    .desert{
        font-size: 0.9rem;
    }
    .desc{
        float: right;
        font-weight: 600;
    }
    .sp{
        font-size: 0.7rem;
    }
    .desc-2{
        float: right;
    }
    .joined{
        display: none;
    }
    .fa-solid{
        color: #a0027b;
        font-size: 0.5rem;
    }
    .fourth-cont{
        padding: 1rem 0.7rem 3rem;
        background: #a50b5e;
        color: #fff;
    }
    .fourth-cont p{
        margin-bottom: 2rem;
        line-height: 2;
    }
    .fourth-cont a{
        font-size: 0.8rem;
        padding: 0.7rem 2rem;
        text-decoration: none;
        background: #fff;
        color: #a50b5e;
        border-radius: 10px;
    }
    .footer{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        column-gap: 1.4rem;
        row-gap: 2rem;
        justify-content: center;
        align-items: center;
        padding: 0.4rem 0.8rem 1rem;
        color: #fff;
        background: #303031;
    }
    .communtiy{
        grid-column: 1/2;
        grid-row: 1/1;
    }
    .places{
        grid-column: 2/3;
        grid-row: 1/1;
    }
    .about{
        grid-column: 3/3;
        grid-row: 1/1;
    }
    .credit{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        grid-column: 1/4;
        grid-row: 2/2;
    }
    .credit>img{
        height: 1.5rem;
    }
    .socials{
        display: flex;
        gap: 1rem;
    }
    .footer a{
        font-size: 0.7rem;
        display: block;
        text-decoration: none;
        color: #fff;
    }
    .footer a:not(:last-of-type){
        margin-bottom: 0.5rem;
    }
    .centre{
        display: none;
        position: fixed;
        z-index: 5;
        left: 0;
        right: 0;
        top: 0;
        padding-top: 10rem;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0);
        background-color: rgba(0, 0, 0,0.4);
    }
    .modal{
        width: 50%;
        margin: auto;
        background: white;
        padding: 1rem 1.5rem;
        border-radius: 10px;
    }
    .modal-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        margin-top: -1rem;
        border-bottom: 1.9px solid #6d6d6e;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 1px solid grey;
        padding: 0.4remm 0.5rem;
        width: 98%;
        margin: auto;
        border: 1px solid black;
        border-radius:5px ;
        margin-bottom: 1rem;
    }
    .sub{
        font-size: 1rem;
    }
    .content1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        margin-bottom: 0.7rem;
    }
    .x{
        font-size: 2rem;
        cursor: pointer;
    }
    
    .same{
        text-align: center;
        justify-content: space-around;
        margin-right: 20px;
    }
    .mobile-search{
        display: none;
    }
}

@media (min-width: 500px) {
    body{
        margin: 0;
        font-family: "PT Sans", sans-serif;
    }
    h1{
        font-size: 2.7rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 1.2rem;
    }
    .navigation{
        padding: 0.5rem 0.25rem;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 3.5rem;
        gap: 16%;
        align-items: center;
        justify-content: center;
        background: #a50b5e;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .logo-color{
        display: none;
        grid-column: 2/3;
        grid-row: 1/1;
    }
    .logo{
        grid-column: 1/2;
        grid-row: 1/1;
        display: flex;
        gap: 0.35rem;
        align-items: center;
    }
    .logo>img{
        height: 1.8rem;
        .ham{
            height: 0;
        }
    
    }
    .lists{
        display: none;
        grid-column: 3/4;
        grid-row: 1/1;
    }
    .nav-right{
        grid-column: 4/4;
        grid-row: 1/1;
        display: flex;
        gap: 0;
        align-items: center;
        justify-self: center;
    }
    .con{
        padding: 0.4rem 0.65rem;
        border: 1.5px solid #fff;
    }
    .con a{
        font-size: 0.8rem;
        text-decoration: none;
        color: #fff;
    }
    .search{
        border: 1.5px solid #fff;
    }
    .search img{
        height: 1.8rem;
    }
    .top-cont{
        padding: 7rem 1.5rem 2rem;
    }
    .top-cont h1{
        margin-top: 0;
        width: 90%;
    }
    .top-cont p{
        width: 88%;
        margin: -1rem 0 2rem;
    }
    .search-div{
        display: none;
        gap: 0;
        margin-bottom: 2rem;
    }
    .top-cont img{
        height: 12rem;
    }
    .Home-assets{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .img-3{
        grid-column: 1/2;
        grid-row: 1/1;
    }
    .img-5{
        grid-column: 2/2;
        grid-row: 1/1;
    }
    .img-4{
        grid-column: 1/2;
        grid-row: 2/2;
    }
    .img-6{
        grid-column: 2/2;
        grid-row: 2/2;
    }
    .int{
        color: #a50b5e;
    }
    .mobile-search{
        display: none;
    }
    .second-cont{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 2rem;
        background: #a50b5e;
    }
    .long{
        display: none;
    }
    .short{
        height: 2.7rem;
    }
    .third-cont{
        padding: 2rem 1rem 2.2rem;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
        column-gap: 1rem;
        row-gap: 1.5rem;
        align-items: center;
        justify-content: center;
    }
    .third-cont>div{
        margin: auto;
        width: 85%;
        padding: 1rem;
        border: 1px solid #777070;
        border-radius: 10px;
    }
    .third-cont img{
        width: 100%;
    }
    .frame-101{
        grid-column: 1/3;
        grid-row: 1/1;
        font-size: 1.4rem;
        text-align: center;
        margin: auto;
    }
    .double>*{
        margin-bottom: 0;
    }
    .desert{
        font-size: 0.9rem;
    }
    .desc{
        float: right;
        font-weight: 600;
    }
    .sp{
        font-size: 0.7rem;
    }
    .desc-2{
        float: right;
    }
    .joined{
        display:none
    }
    .fa-solid{
        color: #a0027b;
        font-size: 0.5rem;
    }
    .fourth-cont{
        padding: 1rem 1.5rem 3rem;
        background: #a50b5e;
        color: #fff;
    }
    .fourth-cont p{
        margin-bottom: 2rem;
        line-height: 2;
    }
    .fourth-cont a{
        font-size: 0.8rem;
        padding: 0.75rem 2.5rem;
        text-decoration: none;
        background: #fff;
        color: #a50b5e;
        border-radius: 10px;
    }
    .footer{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        gap: 2rem;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        color: #fff;
        background: #303031;
    }
    .communtiy{
        grid-column: 1/2;
        grid-row: 1/1;
    }
    .places{
        grid-column: 2/3;
        grid-row: 1/1;
    }
    .about{
        grid-column: 3/3;
        grid-row: 1/1;
    }
    .credit{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        grid-column: 1/4;
        grid-row: 2/2;
    }
    .credit>img{
        height: 1.7rem;
    }
    .credit>p{
        font-size: 0.8rem;
    }
    .socials{
        display: flex;
        gap: 1.5rem;
    }
    .footer a{
        font-size: 0.8rem;
        display: block;
        text-decoration: none;
        color: #fff;
    }
    .footer a:not(:last-of-type){
        margin-bottom: 0.5rem;
    }
    .centre{
        display: none;
        position: fixed;
        z-index: 5;
        left: 0;
        right: 0;
        top: 0;
        padding-top: 10rem;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0);
        background-color: rgba(0, 0, 0,0.4);
    }
    .modal{
        width: 30%;
        margin: auto;
        background: white;
        padding: 1rem 1.5rem;
        border-radius: 10px;
    }
    .modal-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        margin-top: -1rem;
        border-bottom: 1.9px solid #6d6d6e;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 1px solid grey;
        padding: 0.4remm 0.5rem;
        width: 98%;
        margin: auto;
        border: 1px solid black;
        border-radius:5px ;
        margin-bottom: 1rem;
    }
    .sub{
        font-size: 1rem;
    }
    .content1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        margin-bottom: 0.7rem;
    }
    .x{
        font-size: 2rem;
        cursor: pointer;
    }
    
    .same{
        text-align: center;
        justify-content: space-around;
        margin-right: 20px;
    }
}



@media (min-width: 1000px) {
    body{
        margin: 0;
        font-family: "PT Sans", sans-serif;
    }
    h1{
        font-size: 2.7rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 1.2rem;
    }
    .navigation{
        padding: 0.5rem 2rem;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .logo-color{
        display: inline;
        grid-column: 1/2;
        grid-row: 1/1;
    }
    .logo-color>img{
        width: 12rem;
    }
    .logo{
        display: none;
    }
    .lists{
        display: flex;
        grid-column: 2/4;
        grid-row: 1/1;
        justify-content: space-between;
    }
    .lists li{
        list-style-type: none;
        font-size: 1rem;
        font-weight: normal;
    }
    .lists li a{
        text-decoration: none;
        color: #303031;
    }
    .home:visited{
        color: #a50b5e;
    }
    .nav-right{
        grid-column: 4/4;
        grid-row: 1/1;
        display: flex;
        justify-self: flex-start;
    }
    .con{
        border: none;
    }
    .con a{
        padding: 0.55rem 0.8rem;
        font-size: 0.75rem;
        text-decoration: none;
        background: #a50b5e;
        color: #fff;
        border-radius: 8px;
    }
    .search{
        display: none;
    }
    .mobile-search{
        display: none;
    }
    .top-cont{
        padding: 9rem 3rem 8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .top-left{
        width: 50%;
    }
    .top-cont h1{
        width: 60%;
        font-weight: normal;
        font-size: 3.5rem;
    }
    .top-cont p{
        width: 75%;
        margin: -1rem 0 3rem;
        font-size: larger;
    }
    .search-div{
        display: flex;
        gap: 0;
    }
    .search-bar{
        padding-left: 0.4rem;
        border:1px solid #303031;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: 0;
        height: 2.5rem;
        width: 35%;
    }
    .search-btn{
        padding: 0.75rem 2rem;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background: #a50b5e;
        color: #fff;
        text-decoration: none;
    }
    .top-cont img{
        height: 8rem;
    }
    .Home-assets{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 0;
        row-gap: 0;
        align-items: center;
        justify-content: center;
        width: 40%;
        position: relative;
    }
    .img-3{
        position: absolute;
        top: -5rem;
        right: 0;
        grid-column: 2/2;
        grid-row: 1/1;
    }
    .img-5{
        position: absolute;
        top: -9.5rem;
        left: 0;
        grid-column: 1/2;
        grid-row: 1/1;
    }
    .img-4{
        position: absolute;
        top: 3rem;
        right: 0;
        grid-column: 1/2;
        grid-row: 2/2;
    }
    .img-6{
        position: absolute;
        top: -1.5rem;
        left: 0;
        grid-column: 2/2;
        grid-row: 2/2;
    }
    .int{
        color: #a50b5e;
    }
    .second-cont{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 4rem;
        background: #a50b5e;
    }
    .long{
        display: flex;
        height: 2.2rem;
    }
    .short{
        display: none;
    }
    .third-cont{
        padding: 4rem 1rem 2.2rem;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 0;
        row-gap: 1.5rem;
        align-items: center;
        justify-content: center;
    }
    .third-cont>div{
        margin: auto;
        width: 75%;
        padding: 1rem;
        border: 1px solid #777070;
        border-radius: 10px;
    }
    .third-cont img{
        width: 100%;
    }
    .frame-101{
        grid-column: 1/5;
        grid-row: 1/1;
        font-size: 1.7rem;
        text-align: center;
        margin: auto;
    }
    .double>*{
        margin-bottom: 0;
    }
    .desert{
        font-size: 0.9rem;
    }
    .desc{
        float: right;
        font-weight: 600;
    }
    .sp{
        font-size: 0.7rem;
    }
    .desc-2{
        float: right;
    }
    .fa-solid{
        font-size: 0.5rem;
        color: #a0027b;
    }
    .fourth-cont{
        padding: 4rem 3rem 6rem;
        background: #a50b5e;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .fourth-cont p{
        width: 60%;
        font-size: 1rem;
        margin-bottom: 2rem;
        line-height: 2;
    }
    .fourth-cont a{
        font-size: 0.8rem;
        padding: 0.75rem 2.5rem;
        text-decoration: none;
        background: #fff;
        color: #a50b5e;
        border-radius: 10px;
    }
    .leftMeta{
        width: 40%;
    }
    .joined{
        display: inline;
        width: 32rem;
    }
    .footer{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        gap: 10rem;
        align-items: flex-start;
        justify-content: left;
        padding: 2rem 3rem;
        color: #fff;
        background: #303031;
    }
    .communtiy{
        grid-column: 2/3;
        grid-row: 1/1;
    }
    .places{
        grid-column: 3/4;
        grid-row: 1/1;
    }
    .about{
        grid-column: 4/4;
        grid-row: 1/1;
    }
    .credit{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        grid-column: 1/2;
        grid-row: 1/1;
    }
    .credit>img{
        height: 1.5rem;
    }
    .credit>p{
        font-size: 0.9rem;
    }
    .socials{
        display: flex;
        gap: 1.5rem;
    }
    .footer a{
        font-size: 0.8rem;
        display: block;
        text-decoration: none;
        color: #fff;
    }
    .footer a:not(:last-of-type){
        margin-bottom: 0.5rem;
    }
    .centre{
        display: none;
        position: fixed;
        z-index: 5;
        left: 0;
        right: 0;
        top: 0;
        padding-top: 10rem;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0);
        background-color: rgba(0, 0, 0,0.4);
    }
    .modal{
        width: 30%;
        margin: auto;
        background: white;
        padding: 1rem 1.5rem;
        border-radius: 10px;
    }
    .modal-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
        margin-top: -1rem;
        border-bottom: 1.9px solid #6d6d6e;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 1px solid grey;
        padding: 0.4remm 0.5rem;
        width: 98%;
        margin: auto;
        border: 1px solid black;
        border-radius:5px ;
        margin-bottom: 1rem;
    }
    .sub{
        font-size: 1rem;
    }
    .content1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        margin-bottom: 0.7rem;
    }
    .x{
        font-size: 2rem;
        cursor: pointer;
    }
    
    .same{
        text-align: center;
        justify-content: space-around;
        margin-right: 20px;
    }
}

